$btnColor_inactive: #4caf50;
$btnColor_active: #43a047;

.chat_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.chat_description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.chat {
  display: flex;
  height: 600px;
  border: 1px solid rgba(159, 183, 197, 0.2);
  border-radius: 8px;
  overflow: hidden;
  width: 980px;
  background-color: lightblue;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.messages {
  flex: 1;
  height: calc(100% - 155px);
  overflow: auto;
  background-color: #ffff;
  padding: 40px;
}

.message {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  p {
    display: inline-flex;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(185, 185, 185);
    padding: 10px 15px 15px;
    color: #fff;
    margin-bottom: 2px;
  }
  span {
    opacity: 0.5;
    font-size: 14px;
  }
}
.meta {
  p {
    background-color: $btnColor_active;
  }
}

.chat-users {
  border-right: 1px solid rgba(159, 183, 197, 0.1);
  padding: 20px;
  width: 200px;
  background-color: #f6f9fa;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-top: 10px;
      border-radius: 3px;
      background-color: #fff;
      padding: 8px 14px;
      box-shadow: 0 3px 5px rgba(159, 183, 197, 0.1);
      font-weight: 500;
    }
  }
}

.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 30px;
  form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  textarea {
    width: 100%;
    margin-bottom: 10px;
  }
}
